/* h1 {
  color: red;
  text-align: center;
}
#card{
  height: 60%;
  width: 60%;
  margin-left: 250px;
  margin-top: 100px;
  border-radius: 10px;
}
#style{
  height: 60%;
  width: 60%;
  margin-left: 250px;
  margin-top: 100px;
  border-radius: 10px;
  font-size: 50px;
} */
